@media screen and (min-width: 360px) { /*360px width phones*/
body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: black;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
        }
    
    .header,
    .container,
    .title,
    .subtitle,
    li, p,
    h1, h2, h3, h4, h5, h6,
    a,
    .gallery, social-links,
    .character-creation,
    .information-bank,
    .mini-games, .menu,
    , .venus {
        display: block;
    }

    .header {
        text-align: center;
        padding: 30px;
        position: absolute;
        top: 3%;
        left: 105.5%;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }

    .item {
        margin: -15px; /* Default margin, you can adjust this manually */
    }

    .title {
        font-size: 250pt;
        font-family: "Times New Roman";
        padding-bottom: 6pt;
        color:#fd77fe;
    }

    .subtitle {
        padding-top: 18pt;
        padding-bottom: 4pt;
        font-size: 24pt;
        font-family: "Georgia";
        color: #666666;
        font-style: italic;
    }

    li, p {
        margin: 0px;
        font-size: 135pt;
        font-family: "Arial";
    }

    h1 {
        font-size: 24pt;
        padding-bottom: 12pt;
        font-family: "Arial";
    }

    h2 {
        font-size: 10pt;
        padding-bottom: 11.2pt;
        font-family: "Arial";
    }

    h3 {
        font-size: 14pt;
        padding-bottom: 12pt;
        font-family: "Arial";
    }

    h4 {
        font-size: 12pt;
        padding-bottom: 12.8pt;
        font-family: "Arial";
    }

    h5 {
        font-size: 9pt;
        padding-bottom: 12.8pt;
        font-family: "Arial";
    }

    h6 {
        font-size: 8pt;
        padding-bottom: 18pt;
        font-family: "Times New Roman";
    }

     a:link, a:visited {
        font-family: "Times New Roman";
        font-size: 6vw;
        text-align: center;
        text-decoration: none;
        color:#fd77fe;
    }

     a:hover, a:active {
        font-size: 6vw;
        color: darkred;
    }
    
    .art-frame {
        position: absolute;
        width: 47.8%;
        height: 75%;
        top: 17.5%; /* Adjust this value to move the frame vertically */
        left: 73.5%; /* Adjust this value to move the frame horizontally */
        z-index: 1; /* Ensure it appears on top */
        filter: hue-rotate(24deg) brightness(160%) saturate(55%);
    }

       .enquiries, .email {
          color: #fd77fe;
          text-align: center; /* Align text to the right */
          position: relative; /* Allow for manual adjustments */
          top: 10%;
          right: -71.8%; /* Adjust this value as needed to move the element to the right */
          width: auto; /* Adjust the width as needed */
          font-family: "Times New Roman";
    }

        .misc {
        height: 6%;
        width: 7%;
    }
    
        .trademark {
        top: 14%;
        left: 104%;
        position: absolute;
        height: 55%;
        width: 38%;
        filter: hue-rotate(712deg)
    }
    
        .forum {
        top: 31%;
        position: absolute;
        height: 54%;
        width: 28%;
        filter: hue-rotate(705deg);
        left: 115%;
    }
    
       .shop {
         top: 222%;
         left: 108%;
         position: absolute;
         height: 0%;
         width: 119%;
         filter: hue-rotate(710deg);
    }


    
       .pfp {
        position: absolute;
        height: 70%;
        width: 45%;
        top: 20%;
        left: 75%;
    }

        .profile {
        position: absolute;
        height: 90%;
        width: 90%;
        top: 13%;
        left: 33%;
    }



        .menu {
            position: absolute;
            height: 90%;
            width: 90%;
            top: -8%;
            left: 11%;
    
    }
    
        .venus {
        height: 6%;
        width: 125%;
    }
    
        .venus1 {
        /* Ensure it appears below the art frame */
        top: 185%;
        left: -17%;
        position: absolute;
        filter: hue-rotate(712deg) brightness(140%);
        height: 215%;
        width: 30%;
    }

        .venus2 {
        top: 185%;
        left: 17%;
        position: absolute;
        filter: hue-rotate(712deg) brightness(140%);
        height: 215%;
        width: 30%;
    }
    
        .gallery {
        font-family: "Times New Roman";
        position: absolute;
        top: 855%; /* Adjust this value to move the contact me button vertically */
        left: -45.5%; /* Adjust this value to move the contact me button horizontally */
        align-items: center;
        color:#fd77fe;
    }


        .neptune {
        height: 6%;
        width: 140%;
    }

    
        .neptune1 {
        z-index: 0;/* Ensure it appears below the art frame */
        top: 20%;
        left: 17.3%;
        position: absolute;
        filter: hue-rotate(712deg) brightness(140%);
        height: 215%;
        width: 30%;
    }

        .neptune2 {
        top: 20%;
        left: -23.3%;
        position: absolute;
        filter: hue-rotate(712deg) brightness(140%);
        height: 215%;
        width: 30%;
    }
    
        .character-creation {
        font-family: "Times New Roman";
        position: absolute;
        top: 300.4%; /* Adjust this value to move the music library button vertically */
        left: -49.5%; /* Adjust this value to move the contact me button horizontally */
        align-items: center;
        color:#fd77fe;
    }

    
        .information-bank {
        font-family: "Times New Roman";
        position: absolute;
        top: 3505%; /* Adjust this value to move the cinematic art museum button vertically */
        left: 37.5%; /* Adjust this value to move the contact me button horizontally */
        color:#fd77fe;
        align-items: center;
    }

        .mercury {
        height: 6%;
        width: 140%;
    }
    
        .mercury1 {
        z-index: 0;/* Ensure it appears below the art frame */
        top: 1050%;
        left: 44%;
        position: absolute;
        filter: hue-rotate(712deg) brightness(140%);
        height: 215%;
        width: 29.7%;
    }

        .mercury2 {
        top: 1050%;
        left: 84%;
        position: absolute;
        filter: hue-rotate(712deg) brightness(140%);
        height: 215%;
        width: 29.7%;
    }
    

        .mini-games {
        font-family: "Times New Roman";
        position: absolute;
        top: -20%; /* Adjust this value to move the boutique button vertically */
        left: -50.5%; /* Adjust this value to move the contact me button horizontally */
        color:#fd77fe;
        align-items: center;
    }


        .mars {
        height: 6%;
        width: 140%;
    }

        .mars1 {
        /* Ensure it appears below the art frame */
        top: -30%;
        left: -19%;
        position: absolute;
        filter: hue-rotate(712deg) brightness(140%);
        height: 185%;
        width: 30%;
    }

        .mars2 {
        top: -15%;
        left: 12%;
        position: absolute;
        filter: hue-rotate(712deg) brightness(140%);
        height: 185%;
        width: 30%;
    }
 
        .social-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        bottom: -88%; /* Adjust this value to position the social links vertically */
        left: 146.3%;
        transform: translate(-50%, -50%);
        width: 85%; /* Ensure it fits within the screen */
        height: 75%;
        
    }

        .social-links a {
        margin: 0px 0; /* Adjust this value for spacing between the links */
        width: 150px; /* Adjust this value to resize the social icons */
        height: 40px; /* Maintain aspect ratio */
    
    }

        .social-links img {
        width: 300%;
        height: auto; /* Maintain aspect ratio */
    }
}
